<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4">상세 정보</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form th:action="@{/article/update}" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${article.title}">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">content</label>
                    <textarea class="form-control" id="content" name="content">[[${article.content}]]</textarea>
                </div>
                <div class="mb-3">
                    <label for="hashtag" class="form-label">hashtag</label>
                    <textarea class="form-control" id="hashtag" name="hashtag">[[${article.hashtag}]]</textarea>
                </div>

                <!--<div class="mb-3" th:if="${article.imageUrls != null}">
                    <label class="form-label">Images</label>
                    <div>
                        <th:block th:each="imageUrl : ${article.imageUrls}">
                            <img th:src="${imageUrl}" alt="Image" width="200px" height="200px">
                        </th:block>
                    </div>
                </div>-->
                <div class="mb-3">
                    <label for="createdAt" class="form-label">작성일</label> <input
                        type="text" class="form-control" id="createdAt" name="createdAt"
                        th:value="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}" disabled>
                </div>
                <div class="mb-3">
                    <label for="writer" class="form-label">작성자</label> <input
                        type="text" class="form-control" id="createBy" name="createBy"
                        th:value="${article.createBy}" disabled>
                </div>

                <!--Article index 값 setting -->
                <input type="hidden" id="commentId" name="commentId" th:value="${article.id}">
                <a href="/article/list" class="btn btn-outline-secondary">목록</a>

                <th:block th:if="${user.loginId == article.member.loginId}">
                    <button type="submit" class="btn btn-outline-warning">수정</button>
                    <a th:href="@{'/article/delete/' + ${article.id}}" class="btn btn-outline-danger" onclick="return confirm('삭제 하시겠습니까?')">삭제</a>
                </th:block>

            </form>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">댓글 ([[${article.articleComment.size}]])</h5>
                <div class="card-body">
                    <form th:action="@{'/article/comment/create/' + ${article.id}}" th:method="post">
                        <div class="form-group" style="margin-bottom: 10px;">
                            <input type="hidden" name="idx"/>
                            <textarea name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">댓글 작성</button>
                    </form>
                </div>
            </div>

            <!-- Display Comments -->
            <div class="card my-4" th:if="${article.articleComment.size > 0}">
                <h5 class="card-header">Comments:</h5>
                <div class="card-body">
                    <div th:each="comment : ${article.articleComment}">
                        <div class="media mb-4">
                            <div class="media-body">
                                <div class="d-flex align-items-start">
                                    <!--<img class="d-flex mr-3 rounded-circle" th:src="${comment.getImageUrl()}" alt="User image" width="50">-->
                                    <div>
                                        <h5 class="mt-0" th:text="${comment.createBy}"></h5>
                                        <textarea type="text" th:value="${comment.content}"  th:text="${comment.content}" th:id="'comment-' + ${comment.id}"></textarea>
                                        <small class="text-muted" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></small>
                                    </div>
                                </div>
                                <!--로그인 사용자 정보와 댓글 작성자의 로그인 아이디 일치여부로 수정 및 댓글 BTN 노출 여부-->
                                <th:block th:if="${user.loginId == comment.member.loginId}">
                                    <button class="btn btn-sm btn-outline-warning" th:attr="data-id=${comment.getId()}"  th:id="${article.id}" onclick="editComment(this)">수정</button>
                                    <a th:href="@{'/article/comment/delete/' + ${article.id} + '/comment/' + ${comment.id}}" class="btn btn-sm btn-outline-danger" onclick="return confirm('댓글을 삭제 하시겠습니까?')">삭제</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function editComment(button) {
            let header = $("meta[name='_csrf_header']").attr('content');
            let token = $("meta[name='_csrf']").attr('content');
            const commentId = button.getAttribute('data-id');
            const article_id = button.getAttribute('id');
            const commentElement = document.getElementById('comment-' + commentId);
            const newContent = commentElement.value;
            alert("update content : " + newContent);
            if (newContent) {
                $.post('/article/comment/update/'+ article_id +'/comment/' + commentId,
                    {content: newContent},

                    function (data) {
                    window.location.href = data;
                });
            }
        }
    </script>
</div>

</body>
</html>