<th:block th:fragment="headerFragment" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Article</title>
    </head>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="text-end">
                    <span id="username" class="text-white me-2" sec:authorize="isAuthenticated()" sec:authentication="principal.loginId"></span>
                    <a role="button" id="login" class="btn btn-outline-light me-2" sec:authorize="!isAuthenticated()">Login</a>
                    <a role="button" id="register" class="btn btn-outline-light me-2" sec:authorize="!isAuthenticated()">Register</a>
                    <a role="button" id="kakao-login" class="me-2" sec:authorize="!isAuthenticated()">
                        <img alt="Kakao Login" src="/images/kakao_login_medium.png">
                    </a>
                    <a role="button" id="logout" class="btn btn-outline-light me-2" sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </div>
        </div>
    </header>
</th:block>