<th:block th:fragment="headerFragment">
    <head>
        <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <title></title>
    </head>

    <header>
        <div class="hd-top clearfix">
            <ul class="hd-nav">
                <li><a href="/admin/logout">로그아웃</a></li>
                <li><a/>마이페이지</a></li>
            </ul>
            <div class="hd-in clearfix">
                <h1 class="logo"><!--
                    <img src="/img/logo.svg" alt="">-->
                </h1>
            </div>
        </div>
        <nav class="clearfix">
            <ul class="gnb">
                <li>
                    <a href="">
                        <span style="color: #c4d3f4">MENU1</span>
                    </a>
                    <ul class="lnb">
                        <li><a href="">하위 카테고리1</a></li>
                        <li><a href="">하위 카테고리2</a></li>
                        <li><a href="">하위 카테고리3</a></li>
                        <li><a href="">하위 카테고리4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</th:block>