<th:block th:fragment="pageFragment">
    <th:block th:if="${pageUtil.totalCnt > 0 and pageUtil.nowPage <= pageUtil.totalPage}">
        <nav class="d-flex justify-content-center">
            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                    <li class="page-item">
                        <th:block th:if="${pageUtil.page} == 1">

                        </th:block>
                        <th:block th:unless="${pageUtil.page == 1 || pageUtil.page < 1}">
                            <a class="page-link no-border" th:href="@{/article/list(page=${pageUtil.page} - 2)}">
                                <span aria-hidden="true">Previous</span>
                                <span class="sr-only"></span>
                            </a>
                        </th:block>
                    </li>
                    <th:block th:each="page: ${#numbers.sequence(pageUtil.startPage, pageUtil.endPage)}">
                        <li class="page-item"><a class="page-link no-border" th:classappend="${pageUtil.nowPage == page} ? 'active'" th:href="@{/article/list(page=${page - 1})}">[[${page}]]</a></li>
                    </th:block>
                    <li class="page-item">
                            <th:block th:if="${pageUtil.page == pageUtil.totalPage}">
                            </th:block>
                            <th:block th:unless="${pageUtil.page == pageUtil.totalPage}">
                                <a class="page-link no-border" th:href="@{/article/list(page=${pageUtil.page})}">
                                    <span aria-hidden="true">Next</span>
                                    <span class="sr-only"></span>
                                </a>
                            </th:block>
                    </li>
            </ul>
        </nav>
    </th:block>
</th:block>